.stt {
    position: fixed;
    bottom: 12px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--bgc-red);
    color: var(--bgc-light-yellow);
    text-align: center;
}

.stt__icon {
    margin-top: 8px;
    cursor: pointer;
    animation: scrollToTop 0.5s alternate ease infinite;
}

@keyframes scrollToTop {
    from {
        transform: translateY(2px);
    }
    to {
        transform: translateY(-1px);
    }
}